.container-tacho-amarillo {
    display: flex;
    width: 60%;
    height: 45vh;
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 40px;
    border: none;
    overflow: hidden;
    color: white;
}
/*.image-container-amarillo {
    width: 40%;
    height: 100%;
}*/
.image-container-amarillo img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.text-container-amarillo {
    width: 60%;
    padding: 10px;
    display: block;
    align-items: center;
    justify-content: center;
}

.text-container-amarillo p {
    font-family: 'poppins';
}