:root {
    --verde-claro: #6AB43E;
    --verde-oscuro: hsl(152, 87%, 17%);
}
@font-face {
    font-family: 'sail';
    src: url('./fonts/Sail/Sail-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bungee';
    src: url('./fonts/Bungee/Bungee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sail';
}

.banner {
    height: 405px;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    border-top: 3px solid var(--verde-claro);
}

.imagen {
    object-position: 47% 65%;
    object-fit: cover;
    height: 405px;
    width: 1296px;
    opacity: 0.8;
}