:root {
    --verde-claro: #8db91e;
    --verde-oscuro: hsl(152, 87%, 17%);
    --blanco-verde: #afdbc3;
    --amarillo: #ffcc00;
}
@font-face {
    font-family: 'sail';
    src: url('./fonts/Sail/Sail-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bungee';
    src: url('./fonts/Bungee/Bungee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'delius_swash_caps';
    src: url('./fonts/Delius_Swash_Caps/DeliusSwashCaps-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sail';
    background: linear-gradient(77deg, #65b386, #00943e);
}

.banner {
    position: relative;
    height: 405px;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    border-top: 5px solid var(--verde-claro);
    border-bottom: 5px solid var(--verde-claro);
}

.encabezado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
    z-index: 2;
}

.encabezado h1 {
    font-size: 100px;
    color: white;
    margin: 0;
}

.imagen {
    object-position: 47% 65%;
    object-fit: cover;
    height: 405px;
    width: 100vw;
    transition: ease-in-out 1s;
    z-index: 1;
}

.imagen:hover {
    opacity: 0.5;
    transform: scale(2, 2);
}

.seccion {
    width: 70%;
    margin: 50px auto;
    background-color: var(--verde-claro);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    cursor: default;
    background-color: rgba(255, 255, 255, 0.1);
}

.titulo-seccion, .subtitulo-seccion, .parrafo-seccion, .mapa {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.subtitulo-seccion, .parrafo-seccion, .lista-seccion {
    font-family: 'delius_swash_caps';
}

.titulo-seccion {
    text-decoration: underline;
    font-size: 3.5rem;
    font-style: italic;
}

.subtitulo-seccion {
    margin: 0;
    text-align: center;
}

.parrafo-seccion, .lista-seccion, .subtitulo-seccion {
    font-size: 1.5rem;
}

.mapa{
    width: 80%;
    margin: 15px auto;
}

iframe {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

@media (max-width: 500px) {
    .encabezado h1 {
        font-size: 30px;
    }

    .banner, .imagen {
        height: 200px;
    } 
}

@media (max-width: 600px) {
    .banner, .imagen {
        height: 200px;
    }

    .imagen:hover {
        transform: scale(1.5, 1.5);
    }

    .encabezado h1 {
        font-size: 50px;
    }

    .seccion {
        width: 90%;
    }

    .titulo-seccion {
        font-size: 2rem;
    }

    .subtitulo-seccion, .parrafo-seccion, .lista-seccion {
        font-size: 1.3rem;
    }

    iframe {
        height: 240px;
    }
}

@media (max-width: 1100px) {
    .encabezado h1 {
        font-size: 70px;
    }

    .banner, .imagen {
        height: 350px;
    }
}